.venv
.env
data/raw
# data/features
# data/splits
# data/features_v2
# logs
# checkpoints
# docs
# ML_AUDIT_REPORT.txt
# MULTIMODAL_FIX_REPORT.txt
# Depression Severity Prediction Design Document.pdf
# Depression Severity Prediction Prd (audio + Text, E Ge Maps + Mfcc, Mlp+lstm).pdf
.codex
